header {
    background:linear-gradient(to left, #1D3964,#580D0D);
    background-blend-mode: multiply ;
    width: 1920px;
    height: 157px;
    margin:0;
padding: 0px;
min-height: 10em;
display: table-cell;
vertical-align: middle;
}


.logo {
    position: absolute;
    width: 150.67px;
    height: 116px;
    left: 7px;
    top: 12px;
}

body {
    margin: 0;
    background: url('img/f0n.jpg');
   background-size:100%;
    background-repeat:no-repeat;
    top:136px;
    
}

.usp {
    position: absolute;
    width: 421.77px;
    height: auto;
    left: 1444px;
    top: 46px;
    right:30px;
    margin:0;
    
}
.p1 {
    width: 421px;
    height: 91px;
    object-fit: cover;
    mix-blend-mode: color-burn;
    
}

.t1 {
    position: absolute;
    width: 161.44px;
    height: 29px;
    left:200px; 
    top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

a {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #D4AF37;

}
.forum {
    position: absolute;
    width: 77px;
    height: 29px;
    left: 1128px;
    top: 65px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
.vse {
    position: absolute;
    left: 829px;
    width: 181.03px;
    height: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    top:65px;
}
.vech {
    position: absolute;
    height: 136.73px;
    width: 519.02px;
    left: 645.16px;
    right:auto;
}

.p2 {
    height: 136.73px;
    width: 519.02px;
    mix-blend-mode: multiply;
    opacity: 0.9;
    margin-left:110px;
}
    
    .t2 {
    position: absolute;
    width: 219.35px;
    height: 29px;
    left: 400px;
    top: 65px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}




    

.phon {
    position: absolute;
    width: 1903px;
    height: 81px;
   top:1145px;
   left:0;
   
    background: linear-gradient(270deg, #1D3964 5.73%, #580D0D 92.71%);
}
.bg {
    position: absolute;
    width: 261px;
    height: 29px;
    left: 337px;
    top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
.ct {
    position: absolute;
    width: 165px;
    height: 29px;
    left: 1382px;
    top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    color: #D4AF37;
}
p {
    position: absolute;
    width: 724px;
    height: 174px;
    left: 660px;
    top: 173px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
}
h1 {
    position: absolute;
    width: 958px;
    height: 227px;
    left:660px;
    top: 400px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 47px;
    text-align: center;
    color: #FFD583;
}
.fon1 {
    position: absolute;
    width: 478px;
    height: 159px;
    left: 153px;
    top: 900px;
    background: #FFD583;
    mix-blend-mode: overlay;
    border-radius: 44px;
}
h2 {
    position: absolute;
    width: 293px;
    height: 47px;
    left: 100px;
    top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 47px;
    text-align: center;
    color: #000000;
}
.fon2 {
    position: absolute;
    width: 478px;
    height: 159px;
    right: 53px;
    top: 900px;
    background: #FFD583;
    mix-blend-mode: overlay;
    border-radius: 44px;
}
h3 {
    position: absolute;
    width: 237px;
    height: 75px;
    right: 170px;
    top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 47px;
    text-align: center;
    color: #000000;
}